
EventPlanning.Tests/Properties/AssemblyInfo.cs
EventPlanning.Mvc/Properties/AssemblyInfo.cs
.vs/config/applicationhost.config
.vs/EventPlanning/v15/.suo
.vs/EventPlanning/v15/Server/sqlite3/db.lock
.vs/EventPlanning/v15/Server/sqlite3/storage.ide
.vs/EventPlanning/v15/Server/sqlite3/storage.ide-shm
.vs/EventPlanning/v15/Server/sqlite3/storage.ide-wal
