@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    РУП «Гродноэнерго»<br />
    р/с BY16BPSB30121265710199330000 <br />
    <abbr title="Phone">P:+375 152 792 359</abbr>
</address>

<p>Разработчик <em>Delictum Est</em></p>

<address>
    <strong>E-mail:</strong>   <a href="mailto:volt@energo.grodno.by">volt@energo.grodno.by</a><br />
</address>