@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Event planning</h1>
    <p class="lead">На этом сайте вы можете зарегистрироваться для предлагаемых мероприятий.</p>
    <p><a href="../Home/About" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начиная</h2>
        <p>
            Для начала перейдите к регистрации.
        </p>
        <p><a class="btn btn-default" href="../Account/Register">Регистрация &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Получить больше информации</h2>
        <p>Перейдите на страницу «О нас» или просмотрите описание события, чтобы узнать больше!</p>
        <p><a class="btn btn-default" href="../Home/About">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Что теперь?</h2>
        <p>Зарегистрируйтесь, участвуйте, веселитесь и приглашайте своих коллег! :)</p>
        <p><a class="btn btn-default" href="../Events/Index">Вперед &raquo;</a></p>
    </div>
</div>

@if (User.IsInRole("admin"))
{
    <hr/>
    <h2 align="center">Панель администратора</h2>
    <br/>

    <div class="row">
        <div class="col-md-3">
            <ul>
                <li>
                    <a href="../Events/Index">Мероприятия</a>
                </li>

                <li>
                    <a href="../Employees/Index">Работники</a>
                </li>
            </ul>
        </div>
        
        <div class="col-md-3">
            <ul>
                <li>
                    <a href="../Groups/Index">Отделы</a>
                </li>

                <li>
                    <a href="../Positions/Index">Должности</a>
                </li>
            </ul>
        </div>
        
        <div class="col-md-3">
            <ul>
                <li>
                    <a href="../FullNames/Index">ФИО</a>
                </li>

                <li>
                    <a href="../EventRewards/Index">Награды мероприятий</a>
                </li>
            </ul>
        </div>
        
        <div class="col-md-3">
            <ul>
                <li>
                    <a href="../IssuedRewards/Index">Выданные награды</a>
                </li>

                <li>
                    <a href="../Rewards/Index">Награды</a>
                </li>
            </ul>
        </div>
    </div>
}
