@model EventPlanning.Mvc.Models.Entities.Reward

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <h4>Награда</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id = Model.RewardId }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
